*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container{
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
}
header{
    text-align: center;
    padding: 20px 0px;
}
.carousel{
    padding-bottom: 20px;
}
.display-grid{
    display: grid;
    grid-template-columns: 95%;
    column-gap: 5%;
    justify-items: center;
}
.cards{
    padding: 5px 0px;
}
footer{
    text-align: center;
    padding: 20px;
}

/* 
Desktop - 1920 x 1080
Tablet - 768 x 1024
Móvel - 360 x 640
 */

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }
    .display-grid{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 2%;
        justify-items: center;
    }

}
@media screen and (min-width: 1920px){
    .container{
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
    }
    .display-grid{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 3%;
        justify-items: center;
    }

}

